.ashen-root {
  min-height: 100vh;
  width: 100%;
  background: #010014;
  color: #ddd;
  position: relative;
}

.ashen-content {
  position: relative;
  z-index: 4;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #a084ee;
  text-align: center;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }
}
