.background-paths-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-paths-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.floating-paths {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.background-svg {
  width: 100%;
  height: 100%;
  color: #9d3dff;
  opacity: 0.4;
}
