.interactive-grid-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.interactive-grid-background canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  pointer-events: none;
  display: block;
}

.interactive-grid-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
